.container-fluid
  = @serial_searches_count
  Serial Searches from
  = @ip_addresses_count
  individual IP Addresses
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Serial
        %th Number of Searches
        %th Most Recent Serial Search
    %tbody
      - @serial_searches.each do |serial_search|
        %tr
          %td
            = link_to serial_search.serial, serial_search_path(serial_search)
          %td
            = serial_search.log_lines.count
          %td
            = l serial_search.last_request_at, format: :log_request_time

  = paginate @serial_searches
