.container-fluid
  %header.info-header
    %h4
      = @serial_searches_count
      Serial Searches from
      = @ip_addresses_count
      unique IP Addresses
  %table.table.table-striped.table-bordered.header-sortable
    %thead
      %tr
        %th
          = sortable 'serial'
        %th
          = sortable 'times_searched', 'Number of Searches'
        %th
          = sortable 'last_request_at'
    %tbody
      - @serial_searches.each do |serial_search|
        %tr
          %td
            = link_to serial_search.serial, serial_search_path(serial_search)
          %td
            = serial_search.log_lines.count
          %td
            = l serial_search.last_request_at, format: :log_request_time

  = paginate @serial_searches
