.container-fluid
  %h4
    Log Lines for
    %em
      = @serial_search.serial
  %table.table.table-striped.table-bordered.sortable-theme-bootstrap{'data-sortable' => ''}
    %thead
      %tr
        %th Request at
        %th IP Address
        %th Entry Data
    %tbody
      - @serial_search.log_lines.each do |log|
        %tr
          %td
            = l log.request_at, format: :log_request_time
          %td
            = link_to log.ip_address.address, ip_address_path(log.ip_address.id)
          %td
            %pre
              = JSON.pretty_generate(log.entry['params'])
            %small
              %a{ href: "#expanded_log_params_#{log.id}",  data: { toggle: 'collapse' }, 'aria-expanded' => 'false', 'aria-controls' => 'collapseExample' }
                All Parameters
            .collapse{ id: "expanded_log_params_#{log.id}" }
              %pre
                = JSON.pretty_generate(log.entry)



