.container-fluid
  %h5
    Source Type
  .graph
    = column_chart source_type_graphs_path, xtitle: 'Search Source', ytitle: 'Number of Searches'
  %h5
    The Last 24 hours
  .graph
    = line_chart uniquely_created_entries_graphs_path(grouping: 'day'), xtitle: 'Hour', ytitle: 'Number of Searches'
  %h5
    In the last week
  .graph
    = line_chart uniquely_created_entries_graphs_path(grouping: 'week'), xtitle: 'Day', ytitle: 'Number of Searches'
  %h5
    In the Last 30 days
  .graph
    = line_chart uniquely_created_entries_graphs_path(grouping: 'month'), xtitle: 'Day', ytitle: 'Number of Searches'
  %h5
    All Time
  .graph
    = line_chart uniquely_created_entries_graphs_path(grouping: 'year'), xtitle: 'Month', ytitle: 'Number of Searches'
