.container-fluid
  %header.info-header
    %h4
      = @serial_searches_count
      Serial Searches from
      = @ip_addresses_count
      unique IP Addresses
  %table.table.table-striped.table-bordered.header-sortable
    %thead
      %tr
        %th
          = sortable 'address'
        %th
          = sortable 'location'
        %th
          = sortable 'log_lines_count', 'Number of Searches'
        %th
          = sortable 'Most Recent Search'
    %tbody
      - @ip_addresses.each do |ip_address|
        %tr
          %td
            = link_to ip_address.address, ip_address_path(ip_address)
          %td
            = ip_address.location
          %td
            = ip_address.log_lines_count
          %td
            = l ip_address.last_request_at, format: :log_request_time

  = paginate @ip_addresses
