.container-fluid
  %header.info-header
    %h4
      = @serial_searches_count
      Serial Searches from
      = @ip_addresses_count
      unique IP Addresses
  %table.table.table-striped.table-bordered.header-sortable
    %thead
      %tr
        %th
          = sortable 'address'
        %th
          = sortable 'location'
        %th
          = sortable 'Number of Searches'
        %th
          = sortable 'Most Recent'
    %tbody
      - @ip_addresses.each do |ip_address|
        %tr
          %td
            = link_to ip_address.address, ip_address_path(ip_address)
          %td
            = ip_address.location
          %td
            = ip_address.serial_searches.count
          %td
            / = ip_address.serial_searches.last.searched_bike_index_at

  = paginate @ip_addresses
