.container-fluid
  %header.info-header
    %h4
      = @serial_searches_count
      Serial Searches from
      = @ip_addresses_count
      unique IP Addresses
  %table.table.table-striped.table-bordered.header-sortable
    %thead
      %tr
        %th
          = sortable 'address'
        %th Location
        %th
          = sortable 'log_lines_count', 'Number of Searches'
        %th
          = sortable 'last_request_at', 'Most Recent Search'
    %tbody
      - @ip_addresses.each do |ip_address|
        %tr
          %td
            - if ip_address.name.present?
              =link_to ip_address.name, ip_address_path(ip_address)
            - else
              = link_to ip_address.address, ip_address_path(ip_address)
            - if ip_address.notes.present?
              %small.float-right
                %a{ href: "#show_notes#{ip_address.id}", data: { toggle: 'collapse' } }
                  Notes
                .collapse{ id: "show_notes#{ip_address.id}" }
                  = ip_address.notes
          %td
            = ip_address.location
          %td
            = ip_address.log_lines_count
          %td
            = l ip_address.last_request_at, format: :log_request_time

  = paginate @ip_addresses
