.container-fluid
  %header.info-header
    %h4
      = pluralize(@ip_address.log_lines.count, 'Log Line')
      for
      %em
        = @ip_address.address
        - if @ip_address.name.present?
          (
          = @ip_address.name
          )
        from
        = @ip_address.location
        = link_to 'edit', edit_ip_address_path, class: 'btn btn-secondary float-right form-group'
    - if @ip_address.notes.present?
      %p
        = @ip_address.notes

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Serial
        %th Entry Data
        %th Request At

    %tbody
      - @ip_address.log_lines.each do |log|
        %tr
          %td
            - if log.serial_search.present?
              = link_to log.entry['params']['serial'], serial_search_path(log.serial_search.id)
          %td
            %pre
              = JSON.pretty_generate(log.present_entry_data)
            %small
              %a{ href: "#expanded_log_params_#{log.id}",  data: { toggle: 'collapse' }, 'aria-expanded' => 'false', 'aria-controls' => 'collapseExample' }
                All Parameters
            .collapse{ id: "expanded_log_params_#{log.id}" }
              %pre
                = JSON.pretty_generate(log.entry)
          %td
            = l log.request_at, format: :log_request_time
