- if current_user.superuser?
  %nav.navbar.navbar-full.navbar-dark.bg-inverse
    = link_to 'Admin', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li.nav-item
        = link_to 'Users', accounts_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Serial Searches', serial_searches_path, class: 'nav-link'
      %li.nav-item
        = link_to 'IP Addresses', ip_addresses_path, class: 'nav-link'
      %li.nav-item
        = link_to 'Graphs', graphs_path, class: 'nav-link'
    = image_tag 'logo.svg', class: 'logo'

- else
  %nav.navbar.navbar-full.navbar-dark.bg-inverse
    .navbar-brand
      Bike Index: Serial Search Inspector
    %ul.nav.navbar-nav
      %li.nav-item
        %a.nav-link{ href: '', 'data-toggle': 'modal', 'data-target': '#aboutModal' }
          About
    = image_tag 'logo.svg', class: 'logo'
