- if current_user.superuser?
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    %a.navbar-brand{ href: '#' }
      = image_tag 'logo.svg', class: 'logo d-inline-block align-top'
      = link_to 'Admin', root_path, class: 'navbar-brand'
    %button.navbar-toggler{ type: 'button',  'data-toggle': 'collapse', 'data-target': '#navbarSupportedContent' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav
        %li.nav-item
          = link_to 'Users', accounts_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Serial Searches', serial_searches_path, class: 'nav-link'
        %li.nav-item
          = link_to 'IP Addresses', ip_addresses_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Graphs', graphs_path, class: 'nav-link'
- else
  %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    %a.navbar-brand{ href: '#' }
      = image_tag 'logo.svg', class: 'logo d-inline-block align-t op'
      = link_to 'Bike Index: Serial Search Inspector', root_path, class: 'navbar-brand'
    %button.navbar-toggler{ type: 'button',  'data-toggle': 'collapse', 'data-target': '#navbarSupportedContent' }
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.nav.navbar-nav
        %li.nav-item
          %a.nav-link{ href: '', 'data-toggle': 'modal', 'data-target': '#aboutModal' }
            About
