.container-fluid
  %header.info-header
    %h4
      = @user.email
    - @user.bikes.each do |bike|
      %h5
        = bike.title
        = bike.serial
      %a{ href: "https://bikeindex.org/bikes/#{bike.bike_index_id}" }
        View Bike on BikeIndex

      - if bike.serial_searches.empty?
        %p
          There are no recorded searches for this serial number
      - else
        - bike.serial_searches.each do |serial_search|
          %p
            = "There are #{serial_search.log_lines.count} logs for this serial"
          %table.table.table-striped.table-bordered
            %thead
              %tr
                %th Serial Searched for
                %th Time
                %th Location
              %tbody
                - serial_search.log_lines.each do |log_line|
                  %tr
                    %td
                      = log_line.entry['params']['serial']
                    %td
                      = log_line.request_at
                    %td
                      = log_line.ip_address.city
