.container-fluid
  %header.info-header
    %h4
      = "Welcome, #{@user.email}"
    - @user.bikes.each do |bike|
      .card
        .card-block
          %h5.card-title
            = "#{bike.title} - #{bike.serial}"

          %a.card-link{ href: "https://bikeindex.org/bikes/#{bike.bike_index_id}" }
            View on BikeIndex

          - if bike.serial_searches.empty?
            %p.card-text
              There are no recorded searches for this serial number
          - else
            - bike.serial_searches.each do |serial_search|
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Serial Searched for
                    %th Time
                    %th Location
                  %tbody
                    - serial_search.log_lines.each do |log_line|
                      - next if log_line.inspector_request
                      %tr
                        %td
                          = log_line.entry['params']['serial']
                        %td
                          = l log_line.request_at, format: :log_request_time
                        %td
                          = log_line.ip_address.city
