!!!
%html
  %head
    %title
      = @title
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag '/favicon.ico'
  %body
    = render '/layouts/navbar'
    = render '/layouts/about_modal'

    - if notice.present?
      %p.notice.alert-info
        = notice
    - if alert.present?
      %p.alert.alert-danger
        = alert

    = yield

    %footer.footer
      .container
        = link_to 'Refresh Bike Index bikes', user_bike_index_omniauth_authorize_path
        %span.text-muted.float-right
          The Serial Search Inspector is an Open Source Project.
          View on
          = link_to 'Github', 'https://github.com/bikeindex/serial_search_inspector'
