!!!
%html
  %head
    %title
      = @title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag '/favicon.ico'
  %body
    %nav.navbar.navbar-full.navbar-dark.bg-inverse
      = link_to 'Bike Index Serial Search Inspector', root_path, class: 'navbar-brand'
      %ul.nav.navbar-nav
        %li.nav-item
          = link_to 'Serial Searches', serial_searches_path, class: 'nav-link'
        %li.nav-item
          = link_to 'IP Addresses', ip_addresses_path, class: 'nav-link'
        %li.nav-item
          = link_to 'Graphs', graphs_path, class: 'nav-link'
    - if notice.present?
      %p.notice.alert-info
        = notice
    - if alert.present?
      %p.alert.alert-danger
        = alert

    = yield

    %footer.footer
      .container
        %span.text-muted.float-right
          The Serial Search Inspector is an Open Source Project.
          View on
          = link_to 'Github', 'https://github.com/bikeindex/serial_search_inspector'
