!!!
%html
  %head
    %title
      = @title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.container-fuild
      %h2
        = @title
    %nav.navbar.navbar-dark.bg-inverse
      %ul.nav.navbar-nav
        %li.nav-item
          .nav-link
            = link_to 'Serial Searches', serial_searches_path
        %li.nav-item
          .nav-link
            = link_to 'IP Addresses', ip_addresses_path

    = yield